.username {
  padding-top: 7px;
}

.ant-card-body {
  padding: 15px 5px 0 5px !important;
}

.container > .ant-card.ant-card-bordered {
  margin-bottom: 20px !important;
}

.like-icon {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
