.container.form-style {
  max-width: 25rem;
  margin: 2rem auto;
}

.form-control.input-box {
  opacity: 0.8;
  border-color: grey;
}

.form-control.input-box:focus {
  opacity: 1;
  border-color: #ced4da;
}
