@import "loaders.css/src/animations/pacman.scss";
@import "~antd/dist/antd.css";
@import "./base/settings";
@import "./base/base";
@import "./components/form";
@import "./components/navbar";
@import "./components/posts";

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

.tabs-wrapper {
  text-align: center;
}
