@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css");
@import "loaders.css/src/animations/pacman.scss";
@import "~antd/dist/antd.css";
@import "./base/settings";
@import "./base/base";
@import "./components/form";
@import "./components/navbar";
@import "./components/posts";
@import "./components/landingpage";
@import "./components/comments";

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

.tabs-wrapper {
  text-align: center;
}
